In [4]:
df_input = """
DocID       0   1    2   3   4    5

CAT123     CAT  1   12 123  123  123
DOG14567   DOG  1   14 145 1456 14567
BIRD32     BIRD 3   32  32   32   32
"""

In [69]:
def SOF_to_df(df_input):
    """
    Args:
        df_input (string): output of print(pd.DataFrame)
    Return:
        df (pd.DataFrame)
    """
    import pandas as pd

    raw = [s.split(' ') for s in df_input.split('\n')]
    cleaned = []
    for section in raw:
        if section != ['']:
            cleaned.append([num for num in section if num != ''])

    df = pd.DataFrame(cleaned)
    df.columns = df.loc[0].tolist()
    return df.drop(0, axis=0)

In [70]:
SOF_to_df(df_input)

      DocID     0  1   2    3     4      5
1    CAT123   CAT  1  12  123   123    123
2  DOG14567   DOG  1  14  145  1456  14567
3    BIRD32  BIRD  3  32   32    32     32