In [1]:
import utils

In [2]:
utils.SOF_to_df

In [13]:
inp = """Soft Hand_ID Table_Size Blinds Day No_of_players Seat_1 Seat_2 Seat_3 Seat_4 Seat_5 Seat_6
PokerStars  172109655423    6-max   €0.50/€1.00 2017/06/22  4   KO  fasolakia14 Johnii141   bogec   0   0
PokerStars  143736274858    6-max   £0.25/£0.50 2015/11/13  6   Racushniak  koluha1000  Bantina DMIGNN  Johnii141   vor4mohs"""

In [14]:
df = utils.SOF_to_df(inp)

In [16]:
df

,Soft,Hand_ID,Table_Size,Blinds,Day,No_of_players,Seat_1,Seat_2,Seat_3,Seat_4,Seat_5,Seat_6
1,PokerStars,172109655423,6-max,€0.50/€1.00,2017/06/22,4,KO,fasolakia14,Johnii141,bogec,0,0
2,PokerStars,143736274858,6-max,£0.25/£0.50,2015/11/13,6,Racushniak,koluha1000,Bantina,DMIGNN,Johnii141,vor4mohs

In [23]:
df['Seats'] = df['Seat_1'] + " " + df['Seat_2'] + " " + df['Seat_3'] + " " + df['Seat_4'] + " " + df['Seat_5'] + " " + df['Seat_6']

In [26]:
df.drop(['Seat_1', 'Seat_2', 'Seat_3', 'Seat_4', 'Seat_5', 'Seat_6'], axis=1)

,Soft,Hand_ID,Table_Size,Blinds,Day,No_of_players,Seats
1,PokerStars,172109655423,6-max,€0.50/€1.00,2017/06/22,4,KO fasolakia14 Johnii141 bogec 0 0
2,PokerStars,143736274858,6-max,£0.25/£0.50,2015/11/13,6,Racushniak koluha1000 Bantina DMIGNN Johnii141...

In [27]:
%qtconsole