In [2]:
import pandas as pd
df = pd.DataFrame({'neighborhood':['Chicago City', 'Wicker Park', 'Bucktown','Lincoln Park','West Loop','River North','Milwaukee City','Bay View','East Side','South Side','Bronzeville','North Side','New York City','Harlem','Midtown','Chinatown']})

In [30]:
cities = filter(lambda s: 'City' in s,list(df['neighborhood']))

In [37]:
cities

In [20]:
next(cities).split(' ')[0]

['Chicago', 'City']

In [65]:
city = None
def generate(s):
    global city
    if 'City' in s: city = s.replace('City','')
    return city

In [66]:
df['neighborhood'].map(generate)

0       Chicago
1       Chicago
2       Chicago
3       Chicago
4       Chicago
5       Chicago
6     Milwaukee
7     Milwaukee
8     Milwaukee
9     Milwaukee
10    Milwaukee
11    Milwaukee
12     New York
13     New York
14     New York
15     New York
Name: neighborhood, dtype: object

In [27]:
import itertools
gen = iter([1,2,3])
peek = next(gen)
print(list(itertools.chain([peek], gen)))

[1, 2, 3]

In [28]:
next(gen)

StopIteration:

In [72]:
df['neighborhood'].str.extract('(.*)\sCity').ffill()

            0
0     Chicago
1     Chicago
2     Chicago
3     Chicago
4     Chicago
5     Chicago
6   Milwaukee
7   Milwaukee
8   Milwaukee
9   Milwaukee
10  Milwaukee
11  Milwaukee
12   New York
13   New York
14   New York
15   New York