In [22]:
import numpy as np

In [23]:
import pandas as pd

In [4]:
from utils import SOF_to_df

In [7]:
df=SOF_to_df("""id skill1 skill2
0   'Performance'   'Data'  
1   'Compiling' 'Algorithms'    
3   'Data'  'Algorithms'    """)
df

  id         skill1        skill2
1  0  'Performance'        'Data'
2  1    'Compiling'  'Algorithms'
3  3         'Data'  'Algorithms'

In [8]:
df

  id         skill1        skill2
1  0  'Performance'        'Data'
2  1    'Compiling'  'Algorithms'
3  3         'Data'  'Algorithms'

In [33]:
skills = np.unique(np.append(df['skill1'], df['skill2']))

In [34]:
skills

array(["'Algorithms'", "'Compiling'", "'Data'", "'Performance'"],
      dtype=object)

In [41]:
d1=pd.get_dummies(df['skill1'])

In [40]:
d2=pd.get_dummies(df['skill2'])

In [69]:
dummy_dataframes = [pd.get_dummies(df[skill_col]) for skill_col in ['skill1', 'skill2']]

In [71]:
 dummy_concat = pd.concat(dummy_dataframes).fillna(0).astype(int)

/Users/alex/Desktop/Coding/AI/kaggle-pets/venv/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [50]:
dfc=pd.concat(d).fillna(0).astype(int)

/Users/alex/Desktop/Coding/AI/kaggle-pets/venv/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [51]:
dfc

   'Algorithms'  'Compiling'  'Data'  'Performance'
1             0            0       0              1
2             0            1       0              0
3             0            0       1              0
1             0            0       1              0
2             1            0       0              0
3             1            0       0              0

In [66]:
dfc.reset_index()

   index  'Algorithms'  'Compiling'  'Data'  'Performance'
0      1             0            0       0              1
1      2             0            1       0              0
2      3             0            0       1              0
3      1             0            0       1              0
4      2             1            0       0              0
5      3             1            0       0              0

In [67]:
dfc.reset_index().groupby('index').apply(np.sum, axis=0)

       index  'Algorithms'  'Compiling'  'Data'  'Performance'
index
1          2             0            0       1              1
2          4             1            1       0              0
3          6             1            0       1              0

In [28]:
df['skill1'].unique()

array(["'Performance'", "'Compiling'", "'Data'"], dtype=object)

In [29]:
df['skill2'].unique()

array(["'Data'", "'Algorithms'"], dtype=object)

In [11]:
import pandas as pd
pd.get_dummies(df)

,id_0,id_1,id_3,skill1_'Compiling',skill1_'Data',skill1_'Performance',skill2_'Algorithms',skill2_'Data'
1,1,0,0,0,0,1,0,1
2,0,1,0,1,0,0,1,0
3,0,0,1,0,1,0,1,0

In [14]:
d=pd.DataFrame({'s':['P','C','D']})
d

   s
0  P
1  C
2  D

In [15]:
pd.get_dummies(d)

   s_C  s_D  s_P
0    0    0    1
1    1    0    0
2    0    1    0

In [79]:
dummy_concat.reset_index().groupby('index').apply(np.sum, axis=0).drop('index',axis=1)

       'Algorithms'  'Compiling'  'Data'  'Performance'
index
1                 0            0       1              1
2                 1            1       0              0
3                 1            0       1              0

In [76]:
result

       index  'Algorithms'  'Compiling'  'Data'  'Performance'
index
1          1             0            0       1              1
2          2             1            1       0              0
3          3             1            0       1              0